{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block header %}
<script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
{% endblock %}
{% block content %}
<div id="projects_root" v-cloak>
    <section class="hero project-color">
        <div class="container">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <h1 class="title is-1 has-text-white">
                      Projects
                    </h1>
                    <h2 class="subtitle is-4 has-text-white">
                      Create a project to annotate datasets with a set of predefined labels.
                    </h2>
                    {% if user.is_superuser %}
                    <p>
                    <a class="button is-medium is-primary" @click="onCreate()">
                        Create Project
                    </a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- Modal card for creating project. -->
    <div class="modal" :class="{ 'is-active': isCreate }">
        <div class="modal-background"></div>
        <form method="post">
        <div class="modal-card">
            
            <header class="modal-card-head">
                <p class="modal-card-title">Create Project</p>
                <button type="button" class="delete" aria-label="close" @click="isCreate=!isCreate"></button>
            </header>
                {% csrf_token %}
                <section class="modal-card-body">
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}
                {% for field in form.visible_fields %}
                <div class="field">
                    {{ field.label_tag }}
                    <div class="control">
                    {% render_field field class="input select-height" %}
                    </div>
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="field">
                  <div class="control">
                    <label>Preset filter annotations</label>
                    <multiselect v-model="filterAnnotationValue" :options="filterAnnotationOptions" placeholder="Filter annotation" label="text" track-by="id" :multiple="true" @input="changeFilterAnnotations"></multiselect>
                    <small class="form-text text-muted">(Optional)</small>
                    <input type="hidden" name="filter_annotation_ids" v-model="filter_annotation_ids" />
                  </div>
                </div>
                </section>
                <footer class="modal-card-foot pt20 pb20 pr20 pl20 has-background-white-ter">
                <button class="button is-primary">Create</button>
                <button class="button" @click="isCreate=!isCreate">Cancel</button>
                </footer>
        </div>
      </form>
    </div>

    <!-- Modal card for editing project. -->
    <div class="modal" :class="{ 'is-active': isEdit }">
      <div class="modal-background"></div>
      <form method="post" @submit.prevent="updateProject">
      <div class="modal-card">
          <header class="modal-card-head">
              <p class="modal-card-title">Edit Project</p>
              <button type="button" class="delete" aria-label="close" @click="isEdit=!isEdit"></button>
          </header>
          
              {% csrf_token %}
              <section class="modal-card-body">
              {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
              {% endfor %}
              {% for field in form.visible_fields %}
              <div class="field">
                  {{ field.label_tag }}
                  <div class="control">
                  {% with "project_form."|add:field.name as field_name %}
                  {% render_field field class="input select-height" v-model=field_name %}
                  {% endwith %}
                  </div>
                  {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
              </div>
              {% endfor %}
              <div class="field">
                <div class="control">
                  <label>Preset filter annotations</label>
                  <multiselect v-model="filterAnnotationValue" :options="filterAnnotationOptions" placeholder="Filter annotation" label="text" track-by="id" :multiple="true" @input="changeFilterAnnotations"></multiselect>
                  <small class="form-text text-muted">(Optional)</small>
                  <input type="hidden" name="filter_annotation_ids" v-model="filter_annotation_ids" />
                </div>
              </div>
              </section>
              <footer class="modal-card-foot pt20 pb20 pr20 pl20 has-background-white-ter">
              <button type="submit" class="button is-primary">Save</button>
              <button type="button" class="button" @click="isEdit=!isEdit">Cancel</button>
              </footer>
      </div>
    </form>
  </div>

    <!-- Modal card for deleting project. -->
    <div class="modal" :class="{ 'is-active': isDelete }">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Delete Project</p>
            <button type="button" class="delete" aria-label="close" @click="isDelete=!isDelete"></button>
          </header>
          <section class="modal-card-body">
            Are you sure you want to delete project?
          </section>
          <footer class="modal-card-foot pt20 pb20 pr20 pl20 has-background-white-ter">
            <button class="button is-danger" @click="deleteProject()">Delete</button>
            <button class="button" @click="isDelete=!isDelete">Cancel</button>
          </footer>
        </div>
    </div>

    <section class="hero">
        <div class="container">
          <div class="columns">
            <div class="column is-10 is-offset-1">
          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">
                [[ items.length ]] Projects
              </p>
              <div class="field card-header-icon">
                <div class="control">
                  <div class="select">
                    <select v-model="selected">
                      <option selected>All Project</option>
                      <option>Text Classification</option>
                      <option>Sequence Labeling</option>
                      <option>Seq2seq</option>
                    </select>
                  </div>
                </div>
              </div>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table is-fullwidth">
                  <tbody>
                    <tr v-for="item in selectedProjects()">
                      <td class="pl15r">
                        <div class="thumbnail-wrapper is-vertical">
                          <img class="project-thumbnail" src="{% static 'images/actions-tag-icon.png' %}">
                        </div>
                        <div class="dataset-item__main is-vertical">
                          <div class="dataset-item__main-title">
                            <div class="dataset-item__main-title-link dataset-item__link">
                              <a v-bind:href="'{% url 'projects' %}' + item.id + '/annotation'" class="has-text-black">[[ item.name ]]</a>
                            </div>
                          </div>
                          <div class="dataset-item__main-subtitle">
                            [[ item.description ]]
                          </div>
                          <div v-if="item.updated_at" class="dataset-item__main-info">
                            <span class="dataset-item__main-update">updated <span>[[ getDaysAgo(item.updated_at) ]] days ago</span></span></div>
                        </div>
                      </td>
                      <td class="is-vertical">
                        <div class="dataset-item__main-subtitle">Progress</div>
                        <div class="dataset-item__main-subtitle"><span class="tag is-normal">[[ item.progress.current ]]/[[ item.progress.total ]]</span></div>
                      </td>
                      <td class="is-vertical">
                          <div class="dataset-item__main-subtitle">Datasets</div>
                          <div class="dataset-item__main-subtitle"><span class="tag is-normal">[[ item.datasets_count ]]</span></div>
                        </td>
                      {% if user.is_superuser %}
                      <td class="is-vertical"><a @click="onEdit(item)">Edit</a></td>
                      <td class="is-vertical"><a class="has-text-danger" @click="onDelete(item)">Delete</a></td>
                      {% endif %}
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </div>
          </div>
        </div>
    </section>

</div>

{% endblock %}

{% block footer %}
<script src="{% static 'js/projects.js' %}"></script>
{% endblock %}
